*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/* navbar starts */
.navbar ul {
    display: flex;
    margin-left: 330px;
}
.navbar ul li a{
    text-decoration: none;
    color:#888888;
    margin: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.navbar{
    background-color: rgb(240, 240, 245);
    background-size: cover;
    height: 70px;
    display: flex;
    align-items: center;
}

.navbar h1{
    color:rgb(78, 69, 69);
    font-size: 36px;
    font-weight:400;
    margin-left: 10px;
    font-family: Eras ITC;
}
.link1{
    color: black;
    border-bottom: 2px solid #34b7a7;
    padding-bottom: 10px;
}
.link{
    transition: all 0.3s;

}
.link:hover{
    color: black;
    border-bottom: 2px solid #34b7a7;
    padding-bottom:10px ;
}
.medialinks{
    display: flex;
    text-align: right;
    margin-left: 280px;
   
}
.medialinks i{
    transition: all 0.5s;

}

.medialinks i:hover{
    color: #34b7a7;
}
.medialinks a{
    font-size: 20px;
    text-decoration: none;
    color:gray;
    margin: 5px;
}
/* navbar ends */

/* resume starts */
.resume{
    margin: 40px 100px;
}

.resume h1{
    text-align: center;   

}
.resume hr{
    width: 60px;
    background-color: #34b7a7;
    height: 4px;
     margin:20px auto; 
    text-align: center;
}
.resume p{ 
    color: #888888;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;

}
.resumechild{
    display: flex;
   
}
.resumechild h2{
    padding: 20px 0px;
    font-size: 26px;
    font-weight: 400;
    color: #494747;
}
.resumechild h3{
    color:#737978;
}
.resumepart1{
    width: 50%;
    padding: 30px;
}
.resumepart2{
    width: 50%;
    padding: 30px;
    margin-left: -30px;  
}
.resumechild span{
    background-color:#55dfc1 ;
    border-radius: 4px;
    padding: 8px 15px;
}
.resumechild ul li{
    line-height: 25px;
    color: #706d6d;
    font-size: 17px;
    font-weight: 500;
}
.resumechild ul{
    margin-top: 10px;
}
.resumechild i{
    line-height: 25px;
    color: #706d6d;
    font-size: 17px;
    font-weight: 500;
}
.resumechild p{
    color: #706d6d;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
}
.border{
     border-left:2px solid #34b7a7; 
     padding-left: 30px;  
}
/* resume ends */

/* footer start */
.footer{
    align-items: center;
    background-color: #e9e8e6;
    background-size: cover;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    font-size: 14px;
    line-height: 25px;
    color: #535050;
}
.footer a{
    text-decoration: none;
    color:#34b7a7;
}
/* footer ends */




